$fontbody: "Roboto", sans-serif;
$fontheader: "Open Sans", sans-serif;
$coloryellow: #ffee5c;
$colordark: #2b2c30 ;
$colorlight: #333439 ;

@mixin transition($time) {
  -webkit-transition: all $time ease 0s;
  -moz-transition: all $time ease 0s;
  -ms-transition: all $time ease 0s;
  -o-transition: all $time ease 0s;
  transition: all $time ease 0s;
}

@mixin transform($value) {
  -webkit-transform: $value;
  -ms-transform: $value;
  transform: $value;
}